# Untrack pycache
**/__pycache__/**

# Untrack package folders
bullet3/**
python-fcl/**
sparse_rrt/**
dccp/**

# Untrack personal folders
data/**
env_param/**
jupyter_ws/**
.vscode/**

# Untrack data files
**/*.npy
**/*.p

# Untrack ipy checkpoints
*.ipynb
**/*.ipynb_checkpoints/

# Untrack images
*.png